@import url(comunes.css);

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100px;
    margin: 20px 0 10px 0;
}

.visible {
    display: block;
    color: rgb(255, 0, 0);
}

.oculto {
    display: none;
}

input,
label,
p {
    text-align: left;
    margin: 5px 0;
}

label {
    display: block;
}

input {
    width: 100%;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

button {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px 0;
}

button:hover {
    background-color: #d65600;
}

a {
    color: #ff6600;
    text-decoration: none;
}

a:hover {
    color: #e65c00;
    text-decoration: underline;
}