@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-image: url("../img/fondo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body>:not(nav) {
    margin: 25px;
}

a {
    text-decoration: none;
}

nav {
    background-image: linear-gradient(blue, purple);
}

nav>ul {
    margin: 0 75px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul>li>a {
    padding: 10px;
}

nav>ul>li>a:hover {
    background-color: green;
    border-radius: 10px;
}

nav>ul>li>img {
    width: 30px;
    display: inline-block;
}

nav>ul>li>p {
    display: inline-block;
}