body>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body>div>* {
    margin: 10px 0;
}

div>div {
    position: relative;
    background-color: red;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
}

div>div>img {
    position: absolute;
    width: 150px;
    cursor: pointer;
}