/* Fuente de Google */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
    color: white;
}

body {
    background-image: url("../img/fondoLogin.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contenedor {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 50px;
    border-radius: 10px;
    text-align: center;
}

img {
    width: 100px;
    margin: 20px 0 10px 0;
}

input,
label {
    text-align: left;
    margin: 5px 0;
}

label {
    display: block;
}

input {
    width: 100%;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

button {
    background-color: #ff6600;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background-color: #d65600;
}



.register-link a {
    color: #ff6600;
    text-decoration: none;
}

.register-link a:hover {
    color: #e65c00;
    text-decoration: underline;
}